<h1>貸出状況一覧</h1>

<h2 class="heading">検索(準備中)</h2>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>貸出日</th>
        <th>蔵書コード</th>
        <th>書籍名</th>
        <th colspan="2">借用者</th>
        <th>返却期限</th>
        <th>貸出状況</th>
      </tr>
    </thead>
  
    <tbody>
      <% @lending_histories.order("created_at DESC").each_with_index do |lending_history, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= lending_history.created_at.to_s(:date) %></td>
          <td><%= link_to lending_history.book.code, lending_history.book %></td>
          <td><%= link_to lending_history.book.book_detail.title, lending_history.book.book_detail %></td>
          <td><%= lending_history.user.employee_id %></td>
          <td><%= lending_history.user.username %></td>
          <td><%= lending_history.return_date.to_s(:date) %></td>
          <td><%= lending_history.lending_situation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>