<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div class="col-sm-offset-3 col-sm-8">
      <div id="error_explanation">
        <h2><%= @user.errors.count %>個のエラーがあります。</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
     <%= f.label :password, class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
       <%= f.password_field :password, class: "form-control", placeholder: "ユーザ新規登録、またはパスワード変更時のみ入力してください
       " %>
     </div>
  </div>
  <div class="form-group">
     <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
       <%= f.password_field :password_confirmation, class: "form-control", placeholder: "ユーザ新規登録、またはパスワード変更時のみ入力してください
       " %>
     </div>
  </div>
  <div class="form-group">
    <%= f.label :employee_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :employee_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :username, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :admin, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.check_box :admin %> <%= f.label :admin, " 管理者権限を付与", class: "control-label" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
