<div id="book_details_show">
  <ol class="breadcrumb">
    <li><%= link_to "Top", root_path %></li>
    <li><%= link_to "書籍情報一覧", book_details_path %></li> 
    <li class="active">書籍詳細</li> 
  </ol>
  <h2>書籍詳細 
      <!--<%= link_to '(書籍情報一覧へ)', book_details_path, class: "small" %> -->
      <%= link_to '書籍情報を編集', edit_book_detail_path(@book_detail), class: "btn btn-success btn-xs" if current_user && current_user.admin == true %>
      <%= link_to '削除', book_detail_path(@book_detail), method: :delete, data: {confirm: "本当に削除しますか？付随する蔵書データもされます。
      "}, class: "btn btn-danger btn-xs" if current_user && current_user.admin == true %>
  </h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 detail_colum">図書コード</div>
      <div class="col-sm-10 detail_content"><%= @book_detail.isbn_code %></div>
    </div>
    <div class="row">
      <div class="col-sm-2 detail_colum">書籍名</div>
      <div class="col-sm-10 detail_content"><%= @book_detail.title %></div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2 detail_colum">分類コード</div>
      <div class="col-xs-8 col-sm-1 detail_content"><%= @book_detail.c_code %></div>
      <div class="col-xs-4 col-sm-1 detail_subcolum">対象</div>
      <div class="col-xs-8 col-sm-2 detail_content"><%= sale_for(@book_detail.c_code.to_s.slice(1)) %></div>
      <div class="col-xs-4 col-sm-1 detail_subcolum">形態</div>
      <div class="col-xs-8 col-sm-2 detail_content"><%= published_in(@book_detail.c_code.to_s.slice(2)) %></div>
      <div class="col-xs-4 col-sm-1 detail_subcolum">内容</div>
      <div class="col-xs-8 col-sm-2 detail_content"><%= content_for(@book_detail.c_code.to_s.slice(3,2)) %></div>
    </div>
    <div class="row">
      <div class="col-sm-2 detail_colum">著者</div>
      <div class="col-sm-10 detail_content"><%= @book_detail.writer %></div>
    </div>
    <div class="row">
      <div class="col-sm-2 detail_colum">出版社</div>
      <div class="col-sm-10 detail_content"><%= @book_detail.publisher %></div>
    </div>
    <% if @book_detail.published_date.present? %>
      <div class="row">
        <div class="col-sm-2 detail_colum">初版発行</div>
        <div class="col-sm-10 detail_content"><%= @book_detail.published_date.to_s(:date_ja) %></div>
      </div>
    <% end %>
    <div class="row row-eq-height">
      <div class="col-xs-12 col-sm-2 detail_colum">詳細</div>
      <div class="col-xs-12 col-sm-10 detail_content"><%= @book_detail.content %></div>
    </div>
  </div>
  <h2>蔵書 
      <%= link_to '新規蔵書情報を登録', new_book_path(book_detail: @book_detail.id), class: "btn btn-success btn-xs" if current_user && current_user.admin == true %>
  </h2>
  <h3>所蔵数<%= @book_detail.books.count %>冊</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>配架場所</th>
          <th>蔵書コード</th>
          <th colspan="2">エディション</th>
          <th>貸出状況</th>
          <th>返却予定日</th>
        </tr>
      </thead>
    
      <tbody>
        <% @book_detail.books.each_with_index do |book, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= place_if(book.place) %></td>
            <td><%= link_to "#{book.code}", book_path(book) %></td>
            <td><%= book.published_date.to_s(:date_ja) if book.published_date.present? %></td>
            <td><%= book.edition %></td>
            <td><%= state_if(book.state) %></td>
            <td><%= book.lending_histories.where(returned_date: nil).first.return_date.to_s(:date) if book.state == 1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>